sources/FrontDeskServer/App_WebReferences/EhrInterfaceService/EhrInterface4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.frontdeskhealth.com" elementFormDefault="qualified" targetNamespace="http://www.frontdeskhealth.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/ScreenDoxEhrService/EhrInterface.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ScreeningResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ScreeningPatientInfoWithAddress">
        <xs:sequence>
          <xs:element minOccurs="0" name="KioskID" type="xs:short" />
          <xs:element minOccurs="0" name="ScreeningID" nillable="true" type="xs:string" />
          <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="_sectionAnswers" nillable="true" type="q1:ArrayOfKeyValueOfstringScreeningSectionResult34V4oZCD" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ScreeningResult" nillable="true" type="tns:ScreeningResult" />
  <xs:complexType name="ScreeningPatientInfoWithAddress">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ScreeningPatientIdentity">
        <xs:sequence>
          <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StateID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StateName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StreetAddress" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ZipCode" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ScreeningPatientInfoWithAddress" nillable="true" type="tns:ScreeningPatientInfoWithAddress" />
  <xs:complexType name="ScreeningPatientIdentity">
    <xs:sequence>
      <xs:element minOccurs="0" name="Birthday" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MiddleName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ScreeningPatientIdentity" nillable="true" type="tns:ScreeningPatientIdentity" />
  <xs:complexType name="ScreeningSectionResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="AnswerValue" type="xs:int" />
      <xs:element minOccurs="0" name="Indicates" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Score" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ScoreLevel" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ScoreLevelLabel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ScreeningSectionID" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="_answers" nillable="true" type="q2:ArrayOfKeyValueOfintScreeningSectionQuestionResult34V4oZCD" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ScreeningSectionResult" nillable="true" type="tns:ScreeningSectionResult" />
  <xs:complexType name="ScreeningSectionQuestionResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="AnswerValue" type="xs:int" />
      <xs:element minOccurs="0" name="QuestionID" type="xs:int" />
      <xs:element minOccurs="0" name="ScreeningSectionID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ScreeningSectionQuestionResult" nillable="true" type="tns:ScreeningSectionQuestionResult" />
</xs:schema>