sources/FrontDesk.Server.IntegrationTests/Connected Services/KioskEndpoint/KioskEndpoint81.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ScreenDox.Server.Common.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ScreenDox.Server.Common.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="KioskPingMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="IpAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KioskAppVersion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KioskID" type="xs:short" />
      <xs:element minOccurs="0" name="SecretKey" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KioskPingMessage" nillable="true" type="tns:KioskPingMessage" />
</xs:schema>