sources/FrontDeskKiosk/Service References/KioskEndpointService/KioskEndpoint31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.frontdeskhealth.com" elementFormDefault="qualified" targetNamespace="http://www.frontdeskhealth.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://kryshtopws/FrontdeskServer/endpoint/KioskEndpoint.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="SaveScreeningResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="result" nillable="true" type="tns:ScreeningResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ScreeningResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ScreeningPatientIdentity">
        <xs:sequence>
          <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="KioskID" type="xs:short" />
          <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ScreeningID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StateID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StateName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StreetAddress" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ZipCode" nillable="true" type="xs:string" />
          <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="_sectionAnswers" nillable="true" type="q1:ArrayOfKeyValueOfstringScreeningSectionResult34V4oZCD" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ScreeningResult" nillable="true" type="tns:ScreeningResult" />
  <xs:complexType name="ScreeningPatientIdentity">
    <xs:sequence>
      <xs:element minOccurs="0" name="Birthday" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MiddleName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ScreeningPatientIdentity" nillable="true" type="tns:ScreeningPatientIdentity" />
  <xs:complexType name="ScreeningSectionResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="AnswerValue" type="xs:int" />
      <xs:element minOccurs="0" name="Indicates" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Score" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ScoreLevel" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ScoreLevelLabel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ScreeningSectionID" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="_answers" nillable="true" type="q2:ArrayOfKeyValueOfintScreeningSectionQuestionResult34V4oZCD" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ScreeningSectionResult" nillable="true" type="tns:ScreeningSectionResult" />
  <xs:complexType name="ScreeningSectionQuestionResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="AnswerValue" type="xs:int" />
      <xs:element minOccurs="0" name="QuestionID" type="xs:int" />
      <xs:element minOccurs="0" name="ScreeningSectionID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ScreeningSectionQuestionResult" nillable="true" type="tns:ScreeningSectionQuestionResult" />
  <xs:element name="SaveScreeningResultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveScreeningResultResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ping">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="kioskID" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PingResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModifiedAgeSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lastModifiedDateUTC" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModifiedAgeSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetModifiedAgeSettingsResult" nillable="true" type="tns:ArrayOfScreeningSectionAgeView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfScreeningSectionAgeView">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ScreeningSectionAgeView" nillable="true" type="tns:ScreeningSectionAgeView" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfScreeningSectionAgeView" nillable="true" type="tns:ArrayOfScreeningSectionAgeView" />
  <xs:complexType name="ScreeningSectionAgeView">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsEnabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastModifiedDateUTC" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MinimalAge" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="ScreeningSectionID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ScreeningSectionAgeView" nillable="true" type="tns:ScreeningSectionAgeView" />
  <xs:element name="TestKioskInstallation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="kioskKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestKioskInstallationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestKioskInstallationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatientScreeningFrequencyStatistics">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="patient" nillable="true" type="tns:ScreeningPatientIdentity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatientScreeningFrequencyStatisticsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetPatientScreeningFrequencyStatisticsResult" nillable="true" type="q3:ArrayOfKeyValueOfstringint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>