sources/FrontDeskKiosk/Service References/KioskEndpointService/www.screendox.com.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.screendox.com" elementFormDefault="qualified" targetNamespace="http://www.screendox.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PatientSearch">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateOfBirth" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MiddleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="matchRank" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PatientSearch" nillable="true" type="tns:PatientSearch" />
  <xs:complexType name="Patient">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:PatientSearch">
        <xs:sequence>
          <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EHR" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PhoneHome" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PhoneOffice" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StateID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StreetAddress" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ZipCode" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Patient" nillable="true" type="tns:Patient" />
</xs:schema>